.calendar-view {
  
    overflow-y: hidden !important;

}

/*.fc .fc-daygrid-day-frame {
    background: red;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: teal;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
    background-color: magenta;
    margin-bottom: 5px;
}
*/

