
@import '../base';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito+Sans:wght@300;400;700&display=swap');

$bg-color: #f3f3fb;


body {
    background-color: $bg-color;
}

.gradient-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background: $gradientColor;
    border-radius: 50%;
  }
  
.speaker-img {
    object-fit: cover;
    object-position: center;
}

.event-info {
    text-align: left;
}

.blue-overlay {
    font-family: 'Nunito Sans', sans-serif;
    background-color: $myInfoColor;
    color: black;
    border: none;
    font-size: calc(10px + 1vmin);
    
  }

  @media only screen and (min-width: 568px) {
    .gradient-border {
        height: 200px;
        width: 200px;
      
      }
   
  }