/* Change all text and icon colors in the player. */
.vjs-metropolia-luokka-km559.video-js {
    color: #00ff00;
}

/* Change the border of the big play button. */
.vjs-metropolia-luokka-km559 .vjs-big-play-button {
    border-color: #ffc400;
}

/* Change the color of various "bars". */
.vjs-metropolia-luokka-km559 .vjs-volume-level,
.vjs-metropolia-luokka-km559 .vjs-play-progress,
.vjs-metropolia-luokka-km559 .vjs-slider-bar {
    color: #da11d3;
   
}


.vjs-metropolia-luokka-km559 .vjs-play-control {
    
    color: firebrick;
    text-shadow: 10px 1px 3px forestgreen;
}


@media only screen and (min-width: 500px) {
    .vjs-metropolia-luokka-km559.video-js {
        font-size: 1.25em;
    }
   
  }