@import '../../base';

/* Change all text and icon colors in the player. */
.vjs-my-video-player.video-js {
    color: white;
}

/* Gradient border for big button, webkit mask not working in Safari
.vjs-my-video-player .vjs-big-play-button {

    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: transparent;

    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius: 50%; 
        padding: 5px; 
        background:linear-gradient(45deg, #7699D4, #9448BC); 
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out; 
        mask-composite: exclude; 
      }

      & .vjs-icon-placeholder {
        color:#7699D4;
      }

     

    & .vjs-icon-placeholder::before {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
} */

.vjs-my-video-player .vjs-big-play-button {
    position: absolute;
    box-sizing: border-box;
    background: #000;
    border-radius: 50%;
    background: linear-gradient(220deg, rgba(204, 51, 99, 0.6), rgba(148, 72, 188, 0.6));
    border: transparent;
    width: 1.5em;
    height: 1.5em;

    & .vjs-icon-placeholder::before {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.vjs-my-video-player .vjs-play-progress,
.vjs-my-video-player .vjs-volume-level {
    background: linear-gradient(220deg, rgb(204, 51, 99), rgb(148, 72, 188));
}


/* Change the color of various "bars". */

.vjs-my-video-player .vjs-slider-bar,
.vjs-my-video-player .vjs-play-control {
    color: white;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    background-color: rgba(0, 0, 0, 0.781);
}

@media only screen and (min-width: 768px) {
    .vjs-my-video-player.video-js {
        font-size: 1.25em;
    }
}
