@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito+Sans:wght@300;400;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
/*font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

/*$myColor: rgb(72, 3, 85);
$mybgColor: rgba(255, 255, 255, 0.7);
$myButtoncolor:#CC3363;*/

$myColor: rgb(72, 3, 85);
$mybgColor: rgba(255, 255, 255, 0.7);
$myButtoncolor:#CC3363;
$myFloatColor: rgba(255, 255, 255, 1);
$myFloatColorRed: rgba(72, 3, 85, 0.7);
$mySecondaryColor: #ddcfe6;
$myPurpleColor: #9448BC;
$myLinkHoverColor: rgb(106, 160, 252);
$gradientColor:linear-gradient(220deg, #CC3363, #9448BC);
$hoverColor: #9448BC;
$myInfoColor: rgba(106, 162, 252, 0.8);
$bg-color: #f3f3fb;

@mixin text-bg {
    background-color: $myFloatColor;
    padding: 0.3em 1em;
    border-radius: 10px;
    margin: 0.2em;
  }

@mixin my-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.btn-purple {
    @include my-shadow;
    background-color: $myButtoncolor;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(10px + 2vmin);
  }

  .btn-purple:hover {
    color: white;
    background-color: #6aa0fc;
  }
  