@import "base";

.nav-space {
  margin-top: 3em;
}

.img {
  background: url("./images/bg1.jpg") no-repeat;
  display: flex;
  height: 100vh;
  min-height: 600px;
  flex: 1;
  z-index: 0;
  align-items: center;
  overflow: hidden; 
  margin-top: 2em;
}

.text-over-img {
  z-index: 1; 
}

.extra-margin-left {
  margin-left: 1em;
}

.mediaday {
  background-color: $myFloatColor;
  padding: 0.3em 0.3em;
  border-radius: 10px;
  margin: 0.07em;
  margin-top: 1.5em;
  color: $myButtoncolor;
  font-family: 'Libre Baskerville', serif;
}

.slogan-txt {
  @include text-bg;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $myPurpleColor;
  font-style: italic;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.header-txt {
  @include text-bg;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $myPurpleColor;
  letter-spacing: 2px;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.extra-margin-top {
  margin-top: 12vh;
}

.extra-margin-bottom {
  margin-bottom: 6em;
}

.my-stream{
  margin-top: 8vw;
  margin-bottom: 8vw;
}







