@import "base";

.img {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.text-over-img {
  z-index: 1; 
	margin-top: -90vh; 
}

.mediaday {
  background-color: $mybgColor;
  padding: 0.3em 0.4em;
  border-radius: 10px;
  margin: 15px;
  color: $myColor;
  font-family: 'Libre Baskerville', serif;
}

.slogan-txt {
  @include text-bg;
  font-family: 'Lora', serif;
  color: $myColor;
  font-style: italic;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.header-txt {
  @include text-bg;
  font-family: 'Nunito Sans', sans-serif;
  color: $myColor;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}

.extra-margin-top {
  margin-top: 6em;
}

.extra-margin-bottom {
  margin-bottom: 6em;
}







