@import "base";


.App {
  height:100vh; 
  margin:0;
  display:flex; 
  flex-direction:column; 
}

.nav-space {
  margin-top: 3em;
}

.img {
  background: url("/images/bg_1500.jpg") no-repeat;
  display: flex;
  height: 100vh;
  min-height: 600px;
  flex: 1;
  align-items: center;
  overflow: hidden; 
  margin-top: 2em;
  color: #617fac33;
}

.extra-margin-left {
  margin-left: 1em;
}

.mediaday {
  @include my-shadow;
  background-color: $myFloatColor;
  padding: 0.3em 0.3em;
  border-radius: 10px;
  margin: 0.07em;
  margin-top: 1.5em;
  color: $myButtoncolor;
  font-family: 'Libre Baskerville', serif;
}

.slogan-txt {
  @include text-bg;
  background-color: $myLinkHoverColor;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-style: italic;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.header-txt {
  @include text-bg;
  background-color: $myPurpleColor;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.other-color {
  @include my-shadow;
  background-color: white;
  color: $myButtoncolor;
}

.extra-margin-top {
  margin-top: 12vh;
}

.extra-margin-bottom {
  margin-bottom: 6em;
}

.my-stream{
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.closer {
  margin-left: -0.8em;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-no {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 1000px) {
  .img {
    background: url("/images/bg_1000.jpg") no-repeat;
  }
}

@media (max-width: 500px) {
  .img {
    background: url("/images/bg_500.jpg") no-repeat;
  }
}

@media (max-width: 350px) {
  .extra-margin-left {
    margin-left: 0.3em;
  }

  .closer {
    margin-left: 0.3em;
    padding-left: 1em;
    border-radius: 10px;
  }
  
  .border-no {
    border-radius: 10px;
  }
}








